/** 
  Card parallax
**/
/* CARD MOVIE */
/* PROFILE CARD */
/* Card Example */
/* ASSETS CARD */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Raleway", sans-serif; }

.container {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
  box-sizing: border-box; }

.items {
  border-radius: 5px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  cursor: pointer;
  transition: all 0.6s; }

.icon-wrapper,
.project-name {
  display: flex;
  align-items: center;
  justify-content: center; }

.icon-wrapper i {
  font-size: 100px;
  color: #000000;
  transform: translateY(0px);
  transition: all 0.6s; }

.icon-wrapper {
  align-self: end; }

.project-name {
  align-self: start; }

.project-name p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000000;
  transform: translateY(0px);
  transition: all 0.5s; }

.items:hover.twitte {
  background-color: #1da1f2; }
  .items:hover.twitte i {
    color: #ffffff; }

.items:hover.linke {
  background-color: #0077b5; }
  .items:hover.linke i {
    color: #ffffff; }

.items:hover.githu {
  background-color: #670067; }
  .items:hover.githu i {
    color: #ffffff; }

.items:hover .project-name p {
  transform: translateY(-10px);
  color: #ffffff; }

.items:hover .icon-wrapper i {
  transform: translateY(5px); }
