// @import url("../node_modules/font-awesome/css/font-awesome.min.css");

// //variables comunes
// $primary: #fa0036;
// $text-color: #363738;
// $with: 100%;

// //cuerpo card
// body {
//   background: #eee;
// }

// .mt-5 {
//   margin-top: 3rem !important;
// }

// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }

// .container {
//   width: $with;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

// .row {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin-right: -15px;
//   margin-left: -15px;
// }

// .col-12 {
//   -ms-flex: 0 0 $with;
//   flex: 0 0 $with;
//   max-width: $with;
// }

// .date__box {
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   color: #ccc;
//   border: 4px solid;
//   font-weight: bold;
//   padding: 5px 10px;
//   .date__day {
//     font-size: 22px;
//   }
// }
// .blog-card {
//   padding: 30px;
//   position: relative;
//   .date__box {
//     opacity: 0;
//     transform: scale(0.5);
//     transition: 300ms ease-in-out;
//   }
//   .blog-card__background,
//   .card__background--layer {
//     z-index: -1;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: $with;
//     height: $with;
//   }
//   .blog-card__background {
//     padding: 15px;
//     background: white;
//   }
//   .card__background--wrapper {
//     height: $with;
//     clip-path: polygon(0 0, $with 0, $with 80%, 0 60%);
//     position: relative;
//     overflow: hidden;
//   }
//   .card__background--main {
//     height: $with;
//     position: relative;
//     transition: 300ms ease-in-out;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
//   .card__background--layer {
//     z-index: 0;
//     opacity: 0;
//     background: rgba(#333, 0.9);
//     transition: 300ms ease-in-out;
//   }
//   .blog-card__head {
//     height: 300px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//   .blog-card__info {
//     z-index: 10;
//     background: white;
//     padding: 20px 15px;
//     h5 {
//       transition: 300ms ease-in-out;
//     }
//   }
//   &:hover {
//     .date__box {
//       opacity: 1;
//       transform: scale(1);
//     }
//     .card__background--main {
//       transform: scale(1.2) rotate(5deg);
//     }
//     .card__background--layer {
//       opacity: 1;
//     }
//     .blog-card__info {
//       h5 {
//         color: $primary;
//       }
//     }
//   }
// }

// a.icon-link {
//   color: $text-color;
//   transition: 200ms ease-in-out;
//   i {
//     color: $primary;
//   }
//   &:hover {
//     color: $primary;
//     text-decoration: none;
//   }
// }

// .btn {
//   background: white;
//   color: $text-color;
//   font-weight: bold;
//   outline: none;
//   box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
//   overflow: hidden;
//   border-radius: 0;
//   height: 50px;
//   line-height: 50px;
//   display: inline-block;
//   padding: 0;
//   border: none;
//   &:focus {
//     box-shadow: none;
//   }
//   &:hover {
//     background: $primary;
//     color: #fff;
//   }
//   &.btn--with-icon {
//     padding-right: 20px;
//     i {
//       padding: 0px 30px 0px 15px;
//       margin-right: 10px;
//       height: 50px;
//       line-height: 50px;
//       vertical-align: bottom;
//       color: white;
//       background: $primary;
//       clip-path: polygon(0 0, 70% 0, $with $with, 0% $with);
//     }
//   }
//   &.btn--only-icon {
//     width: 50px;
//   }
// }

// Colors
$background-color: #ffffff;
$color-primary-light: #232c5e;
$color-primary-dark: #1e0b36;
$color-black: #000;
$color-gray-dark: #aaa;
$color-gray-light: #eee;
$color-white: #fff;

// Mixins
@mixin absCenter {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

@mixin flexCenter {
 flex-flow: row;
 align-items: center;
 justify-content: center;
}

@mixin respond($breakpoint) {
 @if $breakpoint == phone {
  @media (max-width: 37.5em) {
   @content;
  } // < 600px
 }
 @if $breakpoint == tab-port {
  @media (max-width: 56.25em) {
   @content;
  } // < 900px
 }
 @if $breakpoint == tab-land {
  @media (max-width: 75em) {
   @content;
  } // < 1200px
 }
 @if $breakpoint == big-desktop {
  @media (min-width: 112.5em) {
   @content;
  } // > 1800px
 }
}

/* Resetear */
*,
*::after,
*::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

//media querys
html {
 // 10px as 1rem.
 font-size: 62.5%;

 @include respond(tab-land) {
  // width < 1200?
  font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
 }
 @include respond(tab-port) {
  // width < 900?
  font-size: 50%; // 1rem = 8px, 8/16 = 50
 }
 @include respond(big-desktop) {
  font-size: 75%; // 1 rem = 12px, 12/16 = 75
 }
}

body {
 height: 100vh;
 background-color: $background-color;
}

.artboard {
 display: flex;
 @include flexCenter;
 padding: 4rem;
 height: 100%;
 position: relative;

 @include respond(phone) {
  padding: 1rem;
 }
}

.card {
 flex: initial;
 position: relative;
 height: 52rem;
 width: 48rem;
 -moz-perspective: 200rem;
 perspective: 200rem;
 margin: 2rem;

 &__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden; 
  /* No queremos ver la parte trasera del elemento.*/
  backface-visibility: hidden; 
  /* No queremos ver la parte trasera del elemento. */
  border-radius: 3px;
  overflow: hidden; /* La imagen desborda al padre. */
  box-shadow: 0 2rem 6rem rgba($color-black, 0.15);

  &--front {
   background-image: linear-gradient(
     to right bottom,
     rgba($color-primary-dark, 0.65),
     rgba($color-primary-light, 0.7)
    ),
    url(https://cdn.pixabay.com/photo/2016/07/01/09/05/space-1490668_1280.png);
  }

  &--back {
   background-color: $color-white;
   transform: rotateY(180deg);
  }
 }

 &:hover &__side--back {
  transform: rotateY(0);
 }
 &:hover &__side--front {
  transform: rotateY(-180deg);
 }

 
// Anverso de la card
 &__theme {
  @include absCenter;
  top: 54%;
  width: 90%;
  text-align: center;
 }

 &__theme-box {
  color: $color-white;
  margin-bottom: 8rem;
 }

 &__subject {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
 }

 &__title {
  font-family: "VT323", monospace;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 100;
 }
 

// Reverso de la card
 &__cover {
  position: relative;
  background-size: cover;
  height: 14rem;
 
// modo de mezcla de fondo: pantalla;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(
    to top right,
    rgba($color-primary-dark, 0.65),
    rgba($color-primary-light, 0.65)
   ),
   url(https://cdn.pixabay.com/photo/2016/07/01/09/05/space-1490668_1280.png);
 }

 &__heading {
  text-align: center;
  color: $color-white;
  @include absCenter;
  width: 75%;
 }

 &__heading-span {
  font-family: "VT323", monospace;
  font-size: 4.2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: $color-white;
 }

 &__details {
  font-family: "Inconsolata", monospace;
  padding: 4rem 2rem;
  ul {
   list-style: none;
   width: 80%;
   margin: 0 auto;

   li {
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;

    &:not(:last-child) {
     border-bottom: 1px solid $color-gray-light;
    }
   }
  }
 }

 // Responsive
 @media only screen and (max-width: 37.5em), only screen and (hover: none) {
  height: auto;
  border-radius: 3px;
  background-color: $color-white;
  box-shadow: 0 2rem 6rem rgba($color-black, 0.15);

  &__side {
   height: auto;
   position: relative;
   box-shadow: none;

   &--front {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
   }

   &--back {
    transform: rotateY(0);
   }
  }

  &:hover &__side--front {
   transform: rotateY(0);
  }

  &__details {
   padding: 3rem 2rem;
  }

  
// Estilo frontal 
  &__theme {
   position: relative;
   top: 0;
   left: 0;
   transform: translate(0);
   width: 100%;
   padding: 5rem 4rem 1.5rem 4rem;
   text-align: right;
  }

  &__theme-box {
   margin-bottom: 1.5rem;
  }

  &__title {
   font-size: 4rem;
  }
 }
}

