// @import url("../node_modules/font-awesome/css/font-awesome.min.css");

// //variables comunes
// $primary: #fa0036;
// $text-color: #363738;
// $with: 100%;

// //cuerpo card
// body {
//   background: #eee;
// }

// .mt-5 {
//   margin-top: 3rem !important;
// }

// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }

// .container {
//   width: $with;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

// .row {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin-right: -15px;
//   margin-left: -15px;
// }

// .col-12 {
//   -ms-flex: 0 0 $with;
//   flex: 0 0 $with;
//   max-width: $with;
// }

// .date__box {
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   color: #ccc;
//   border: 4px solid;
//   font-weight: bold;
//   padding: 5px 10px;
//   .date__day {
//     font-size: 22px;
//   }
// }
// .blog-card {
//   padding: 30px;
//   position: relative;
//   .date__box {
//     opacity: 0;
//     transform: scale(0.5);
//     transition: 300ms ease-in-out;
//   }
//   .blog-card__background,
//   .card__background--layer {
//     z-index: -1;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: $with;
//     height: $with;
//   }
//   .blog-card__background {
//     padding: 15px;
//     background: white;
//   }
//   .card__background--wrapper {
//     height: $with;
//     clip-path: polygon(0 0, $with 0, $with 80%, 0 60%);
//     position: relative;
//     overflow: hidden;
//   }
//   .card__background--main {
//     height: $with;
//     position: relative;
//     transition: 300ms ease-in-out;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
//   .card__background--layer {
//     z-index: 0;
//     opacity: 0;
//     background: rgba(#333, 0.9);
//     transition: 300ms ease-in-out;
//   }
//   .blog-card__head {
//     height: 300px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//   .blog-card__info {
//     z-index: 10;
//     background: white;
//     padding: 20px 15px;
//     h5 {
//       transition: 300ms ease-in-out;
//     }
//   }
//   &:hover {
//     .date__box {
//       opacity: 1;
//       transform: scale(1);
//     }
//     .card__background--main {
//       transform: scale(1.2) rotate(5deg);
//     }
//     .card__background--layer {
//       opacity: 1;
//     }
//     .blog-card__info {
//       h5 {
//         color: $primary;
//       }
//     }
//   }
// }

// a.icon-link {
//   color: $text-color;
//   transition: 200ms ease-in-out;
//   i {
//     color: $primary;
//   }
//   &:hover {
//     color: $primary;
//     text-decoration: none;
//   }
// }

// .btn {
//   background: white;
//   color: $text-color;
//   font-weight: bold;
//   outline: none;
//   box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
//   overflow: hidden;
//   border-radius: 0;
//   height: 50px;
//   line-height: 50px;
//   display: inline-block;
//   padding: 0;
//   border: none;
//   &:focus {
//     box-shadow: none;
//   }
//   &:hover {
//     background: $primary;
//     color: #fff;
//   }
//   &.btn--with-icon {
//     padding-right: 20px;
//     i {
//       padding: 0px 30px 0px 15px;
//       margin-right: 10px;
//       height: 50px;
//       line-height: 50px;
//       vertical-align: bottom;
//       color: white;
//       background: $primary;
//       clip-path: polygon(0 0, 70% 0, $with $with, 0% $with);
//     }
//   }
//   &.btn--only-icon {
//     width: 50px;
//   }
// }

// Colors
// $background-color: #ffffff;
// $color-primary-light: #232c5e;
// $color-primary-dark: #1e0b36;
// $color-black: #000;
// $color-gray-dark: #aaa;
// $color-gray-light: #eee;
// $color-white: #fff;

// // Mixins
// @mixin absCenter {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
// }

// @mixin flexCenter {
//  flex-flow: row;
//  align-items: center;
//  justify-content: center;
// }

// @mixin respond($breakpoint) {
//  @if $breakpoint == phone {
//   @media (max-width: 37.5em) {
//    @content;
//   } // < 600px
//  }
//  @if $breakpoint == tab-port {
//   @media (max-width: 56.25em) {
//    @content;
//   } // < 900px
//  }
//  @if $breakpoint == tab-land {
//   @media (max-width: 75em) {
//    @content;
//   } // < 1200px
//  }
//  @if $breakpoint == big-desktop {
//   @media (min-width: 112.5em) {
//    @content;
//   } // > 1800px
//  }
// }

// /* Resetear */
// *,
// *::after,
// *::before {
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
// }

// //media querys
// html {
//  // 10px as 1rem.
//  font-size: 62.5%;

//  @include respond(tab-land) {
//   // width < 1200?
//   font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
//  }
//  @include respond(tab-port) {
//   // width < 900?
//   font-size: 50%; // 1rem = 8px, 8/16 = 50
//  }
//  @include respond(big-desktop) {
//   font-size: 75%; // 1 rem = 12px, 12/16 = 75
//  }
// }

// body {
//  height: 100vh;
//  background-color: $background-color;
// }

// .artboard {
//  display: flex;
//  @include flexCenter;
//  padding: 4rem;
//  height: 100%;
//  position: relative;

//  @include respond(phone) {
//   padding: 1rem;
//  }
// }

// .card {
//  flex: initial;
//  position: relative;
//  height: 52rem;
//  width: 48rem;
//  -moz-perspective: 200rem;
//  perspective: 200rem;
//  margin: 2rem;

//  &__side {
//   height: 52rem;
//   transition: all 0.8s ease;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   -webkit-backface-visibility: hidden;
//   /* No queremos ver la parte trasera del elemento.*/
//   backface-visibility: hidden;
//   /* No queremos ver la parte trasera del elemento. */
//   border-radius: 3px;
//   overflow: hidden; /* La imagen desborda al padre. */
//   box-shadow: 0 2rem 6rem rgba($color-black, 0.15);

//   &--front {
//    background-image: linear-gradient(
//      to right bottom,
//      rgba($color-primary-dark, 0.65),
//      rgba($color-primary-light, 0.7)
//     ),
//     url(https://cdn.pixabay.com/photo/2016/07/01/09/05/space-1490668_1280.png);
//   }

//   &--back {
//    background-color: $color-white;
//    transform: rotateY(180deg);
//   }
//  }

//  &:hover &__side--back {
//   transform: rotateY(0);
//  }
//  &:hover &__side--front {
//   transform: rotateY(-180deg);
//  }

// Anverso de la card
//  &__theme {
//   @include absCenter;
//   top: 54%;
//   width: 90%;
//   text-align: center;
//  }

//  &__theme-box {
//   color: $color-white;
//   margin-bottom: 8rem;
//  }

//  &__subject {
//   font-family: "Inconsolata", monospace;
//   letter-spacing: 0.8rem;
//   font-size: 1.6rem;
//   text-transform: uppercase;
//   margin-bottom: 1rem;
//  }

//  &__title {
//   font-family: "VT323", monospace;
//   text-transform: uppercase;
//   font-size: 6rem;
//   font-weight: 100;
//  }

// Reverso de la card
//  &__cover {
//   position: relative;
//   background-size: cover;
//   height: 14rem;

// modo de mezcla de fondo: pantalla;
//   -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
//   clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
//   border-top-left-radius: 3px;
//   border-top-right-radius: 3px;
//   background-image: linear-gradient(
//     to top right,
//     rgba($color-primary-dark, 0.65),
//     rgba($color-primary-light, 0.65)
//    ),
//    url(https://cdn.pixabay.com/photo/2016/07/01/09/05/space-1490668_1280.png);
//  }

//  &__heading {
//   text-align: center;
//   color: $color-white;
//   @include absCenter;
//   width: 75%;
//  }

//  &__heading-span {
//   font-family: "VT323", monospace;
//   font-size: 4.2rem;
//   font-weight: 300;
//   text-transform: uppercase;
//   padding: 1rem 1.5rem;
//   color: $color-white;
//  }

//  &__details {
//   font-family: "Inconsolata", monospace;
//   padding: 4rem 2rem;
//   ul {
//    list-style: none;
//    width: 80%;
//    margin: 0 auto;

//    li {
//     text-align: center;
//     font-size: 1.8rem;
//     padding: 1rem;

//     &:not(:last-child) {
//      border-bottom: 1px solid $color-gray-light;
//     }
//    }
//   }
//  }

// Responsive
//  @media only screen and (max-width: 37.5em), only screen and (hover: none) {
//   height: auto;
//   border-radius: 3px;
//   background-color: $color-white;
//   box-shadow: 0 2rem 6rem rgba($color-black, 0.15);

//   &__side {
//    height: auto;
//    position: relative;
//    box-shadow: none;

//    &--front {
//     clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
//    }

//    &--back {
//     transform: rotateY(0);
//    }
//   }

//   &:hover &__side--front {
//    transform: rotateY(0);
//   }

//   &__details {
//    padding: 3rem 2rem;
//   }

// // Estilo frontal
//   &__theme {
//    position: relative;
//    top: 0;
//    left: 0;
//    transform: translate(0);
//    width: 100%;
//    padding: 5rem 4rem 1.5rem 4rem;
//    text-align: right;
//   }

//   &__theme-box {
//    margin-bottom: 1.5rem;
//   }

//   &__title {
//    font-size: 4rem;
//   }
//  }
// }

/** 
  Card parallax
**/

// @import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

// //Declaramos los Id de la imagen los usaremos
// // mas adelante para poner las imagenes
// $imageIds: "1517021897933-0e0319cfbc28",
// "1533903345306-15d1c30952de",
//   "1545243424-0ce743321e11",
//   "1531306728370-e2ebd9d7bb99";

// // variables Globales
// $bp-md: 600px;
// $bp-lg: 800px;

// //animación y font
// :root {
//   --d: 700ms;
//   --e: cubic-bezier(0.19, 1, 0.22, 1);
//   --font-sans: "Rubik", sans-serif;
//   --font-serif: "Cardo", serif;
// }

// * {
//   box-sizing: border-box;
// }

// html,
// body {
//   height: 100%;
// }

// body {
//   display: grid;
//   place-items: center;
// }

// //responsive
// .page-content {
//   display: grid;
//   grid-gap: 1rem;
//   padding: 1rem;
//   max-width: 1024px;
//   margin: 0 auto;
//   font-family: var(--font-sans);

//   @media (min-width: $bp-md) {
//     grid-template-columns: repeat(2, 1fr);
//   }

//   @media (min-width: $bp-lg) {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }

// .card {
//   position: relative;
//   display: flex;
//   align-items: flex-end;
//   overflow: hidden;
//   padding: 1rem;
//   width: 100%;
//   text-align: center;
//   color: whitesmoke;
//   background-color: whitesmoke;
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
//     0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
//     0 16px 16px rgba(0, 0, 0, 0.1);

//   @media (min-width: $bp-md) {
//     height: 350px;
//   }

//   &:before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 110%;
//     background-size: cover;
//     background-position: 0 0;
//     transition: transform calc(var(--d) * 1.5) var(--e);
//     pointer-events: none;
//   }

//   &:after {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 200%;
//     pointer-events: none;
//     background-image: linear-gradient(
//       to bottom,
//       hsla(0, 0%, 0%, 0) 0%,
//       hsla(0, 0%, 0%, 0.009) 11.7%,
//       hsla(0, 0%, 0%, 0.034) 22.1%,
//       hsla(0, 0%, 0%, 0.072) 31.2%,
//       hsla(0, 0%, 0%, 0.123) 39.4%,
//       hsla(0, 0%, 0%, 0.182) 46.6%,
//       hsla(0, 0%, 0%, 0.249) 53.1%,
//       hsla(0, 0%, 0%, 0.32) 58.9%,
//       hsla(0, 0%, 0%, 0.394) 64.3%,
//       hsla(0, 0%, 0%, 0.468) 69.3%,
//       hsla(0, 0%, 0%, 0.54) 74.1%,
//       hsla(0, 0%, 0%, 0.607) 78.8%,
//       hsla(0, 0%, 0%, 0.668) 83.6%,
//       hsla(0, 0%, 0%, 0.721) 88.7%,
//       hsla(0, 0%, 0%, 0.762) 94.1%,
//       hsla(0, 0%, 0%, 0.79) 100%
//     );
//     transform: translateY(-50%);
//     transition: transform calc(var(--d) * 2) var(--e);
//   }

//   @each $id in $imageIds {
//     $i: index($imageIds, $id);

//     &:nth-child(#{$i}):before {
//       background-image: url(
//   https://images.unsplash.com/photo-#{$id}?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
//     }
//   }
// }

// .content {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   padding: 1rem;
//   transition: transform var(--d) var(--e);
//   z-index: 1;

//   > * + * {
//     margin-top: 1rem;
//   }
// }

// .title {
//   font-size: 1.3rem;
//   font-weight: bold;
//   line-height: 1.2;
// }

// .copy {
//   font-family: var(--font-serif);
//   font-size: 1.125rem;
//   font-style: italic;
//   line-height: 1.35;
// }

// .btn {
//   cursor: pointer;
//   margin-top: 1.5rem;
//   padding: 0.75rem 1.5rem;
//   font-size: 0.65rem;
//   font-weight: bold;
//   letter-spacing: 0.025rem;
//   text-transform: uppercase;
//   color: white;
//   background-color: black;
//   border: none;

//   &:hover {
//     background-color: lighten(black, 5%);
//   }

//   &:focus {
//     outline: 1px dashed yellow;
//     outline-offset: 3px;
//   }
// }

// @media (hover: hover) and (min-width: $bp-md) {
//   .card:after {
//     transform: translateY(0);
//   }

//   .content {
//     transform: translateY(calc(100% - 4.5rem));

//     > *:not(.title) {
//       opacity: 0;
//       transform: translateY(1rem);
//       transition: transform var(--d) var(--e), opacity var(--d) var(--e);
//     }
//   }

//   .card:hover,
//   .card:focus-within {
//     align-items: center;

//     &:before {
//       transform: translateY(-4%);
//     }
//     &:after {
//       transform: translateY(-50%);
//     }

//     .content {
//       transform: translateY(0);

//       > *:not(.title) {
//         opacity: 1;
//         transform: translateY(0);
//         transition-delay: calc(var(--d) / 8);
//       }
//     }
//   }

//   .card:focus-within {
//     &:before,
//     &:after,
//     .content,
//     .content > *:not(.title) {
//       transition-duration: 0s;
//     }
//   }
// }
// /* Efecto mery cRistams*/
// body {
//   display:grid;
//   grid-template-columns: repeat( auto-fill, minmax(16rem, 1fr) );
//   grid-gap: 5rem;
//   padding:5rem;
//   background:#F5F7FA;
//   .card {
//       --background:#FFFFFF;
//       --text:black;
//       position: relative;
//       height:12rem;
//       box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
//       .multi-button {
//           z-index:0;
//           position: absolute;
//           top:1.25rem;
//           left:1.25rem;
//           border-radius:100%;
//           width:0rem;
//           height:0rem;
//           transform: translate(-50%, -50%);
//           transition: .25s cubic-bezier(0.25, 0, 0, 1);
//           button {
//               display: grid;
//               place-items: center;
//               position: absolute;
//               width:2rem;
//               height:2rem;
//               border:none;
//               border-radius:100%;
//               background:var(--background);
//               color:var(--text);
//               transform: translate(-50%, -50%);
//               cursor: pointer;
//               transition: .25s cubic-bezier(0.25, 0, 0, 1);
//               box-shadow:0 0 0rem -.25rem var(--background);
//               &:hover {
//                   background:var(--text);
//                   color:var(--background);
//                   box-shadow:0 0 1rem -.25rem var(--background);
//               }
//               &:first-child:nth-last-child(1),
//               &:first-child:nth-last-child(1) ~ * { //si hay 1 hijo
//                   &:nth-child(1) {
//                       left:25%;
//                       top:25%;
//                   }
//               }
//               &:first-child:nth-last-child(2),
//               &:first-child:nth-last-child(2) ~ * { ////si hay 2 hijos
//                   &:nth-child(1) {
//                       left:37.5%;
//                       top:18.75%;
//                   }
//                   &:nth-child(2) {
//                       left:18.75%;
//                       top:37.5%;
//                   }
//               }
//               &:first-child:nth-last-child(3),
//               &:first-child:nth-last-child(3) ~ * { //si hay 3 hijos
//                   &:nth-child(1) {
//                       left:50%;
//                       top:15.625%;
//                   }
//                   &:nth-child(2) {
//                       left:25%;
//                       top:25%;
//                   }
//                   &:nth-child(3) {
//                       left:15.625%;
//                       top:50%;
//                   }
//               }
//               &:first-child:nth-last-child(4), ////si hay 4 hijos, si el primer hijo también es el cuarto elemento de la parte inferior, obtenga uno mismo, y
//               &:first-child:nth-last-child(4) ~ * { //si hay 4 hijos, si el primer hijo también es el cuarto elemento de abajo, obtenga hermanos
//                   &:nth-child(1) {
//                       left:62.5%;
//                       top:18.75%;
//                   }
//                   &:nth-child(2) {
//                       left:37.5%;
//                       top:18.75%;
//                   }
//                   &:nth-child(3) {
//                       left:18.75%;
//                       top:37.5%;
//                   }
//                   &:nth-child(4) {
//                       left:18.75%;
//                       top:62.5%;
//                   }
//               }
//           }
//       }
//       .container {
//           position: absolute;
//           width:100%;
//           height:100%;
//           border-radius:1rem;
//           background:var(--background);
//           color:var(--text);
//       }
//       &:hover .multi-button, .multi-button:focus-within {
//          //Hover o un botón dentro está enfocado
//           width:10rem;
//           height:10rem;
//       }
//   }
// }

// Info card

// IMAGE SETings
// $urlImage: url('https://cutt.ly/7jOpyOZ');
// $curveImage: 3.14;

// // Colors
// $colors : (
//     bg: #111122,
//     bg-accent: #222233,
//     main: #ffffff,
//     accent: white,
//     blue: blue,
//     red: red
// );
// // sizes
// $sizes: (
//   main: 10em,
//   alt: 5em,
//   margin: 5px,
//   padding: 5px,
//   radius: 50%
// );

// // container
// @mixin debug($col) {
// box-sizing: border-box;
// border: solid;
// border-color: color($col);
// border-width: 5px;
// border-radius: 10px;
// overflow: hidden;
// }

// // trasition
// @mixin trasn() {
//     transition: all 500ms;
//     transition-delay: 80ms;
// }

// // pass color
// @function color($col) {
//     @return map-get($colors, $col);
// }

// // pass size
// @function size($s) {
//     @return map-get($sizes, $s )
// }

// html,body {
//     background-color: color(bg);
//     color: color(accent);
//     font-family: 'Montserrat', sans-serif;
// }

// #container {
//     margin: auto;
//     max-width: 500px;
//     width: calc(100vm - size(main));
//     // @include debug(main);
//     padding: 0px;
// }

// #card {
//     border: 10px solid color(main);
//     filter: drop-shadow(10px 10px 5px black);
//     background-color: color(main);
//     border-radius: 10px;
//     margin: auto;
//     margin-top: 5em;
//     height: 100%;
//     max-height: 20em;
//     width: calc(10em - 30px);
//     padding: 0;
//     display: flex;
//     justify-content: space-around;
//     border-radius: 5em;
//     overflow: hidden;
//     @include  trasn();
//     &:hover {
//         height: 10em;
//         width: 80%;
//         max-height: calc(8.1em);
//         background-color: color(main);
//         #face {
//             margin-left: -10px;
//             // @include trasn();
//         }
//     }
//     :not(#face) {
//         opacity: 0;
//     }
//     &:hover :not(#face) {
//         @include trasn();
//         opacity: 1;
//     }
//     #face {
//         height: calc(10em - 30px);
//         width: calc(10em - 30px);
//         background-image: $urlImage;
//         background-size: 100%;
//         background-position: 0%, 20%;
//         border-radius: 100% !important;
//         margin-left: 0px;
//         @include trasn();
//         //@include debug(main);
//         z-index: 100;
//     }
//     #content {
//         height: calc(10em - 30px);
//         width: calc(100% - (10em - 30px) - 30px);
//         //@include debug(red);
//     }
//     #lottie {
//         position: absolute;
//         width: 150px;
//         height: 150px;
//         margin-left: 400px;
//     }
// }
// #content {
//     * {
//         margin: 5px;
//     }
//     #title {
//         font-size: 1.5em;
//         overflow: hidden;
//         white-space: nowrap;
//         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//         color: black;
//     }
// }

// #socialcontainer {
//     z-index: 0;
//     width: 100%;

//     #social {
//         margin: 0px;
//         overflow: hidden;
//         width: calc(1em + 10px);
//         white-space: nowrap;
//         @include trasn();
//         @for $i from 1 through 4 {
//             &:nth-child(#{$i}) {
//                 margin-left: -$i * $i * $curveImage * .6px;
//             }
//         }
//         a {
//             text-decoration: none;
//             &:visited {
//                 color: color(bg);
//             }
//             .bxl-linkedin-square {
//                 color: rgb(14, 118, 168);

//             }
//             .bxl-twitter {
//                color: rgb(0, 172, 238);
//             }
//             .bxl-facebook-square {
//                 color: rgb(59, 89, 152);
//             }
//             .bxl-github {
//                 color: black;
//             }
//         }
//     }
//     #social:hover {
//         width: 100%;
//     }
//     #social i {
//         max-width: 3em;
//         margin: 0px;
//         margin-right: 5px;
//     }
// }

/* CARD MOVIE */
// @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

// body {
//   font-family: Roboto, sans-serif;
//   margin: 0;
//   height: 100vh;
//   display: grid;
//   align-items: center;
//   justify-items: center;
//   background-image: linear-gradient(to top, #ffffff 0%, #f5f5f5 100%);
// }
// .card {
//   background: #fff;
//   border-radius: 4px;
//   box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
//   max-width: 400px;
//   display: flex;
//   flex-direction: row;
//   border-radius: 25px;
//   position: relative;
// }

// .card h2 {
//   margin: 0;
//   padding: 0 1rem;
// }
// .card .title {
//   padding: 1rem;
//   text-align: right;
//   color: rgb(5, 41, 87);
//   font-weight: bold;
//   font-size: 12px;
// }
// .Subtitile {
//   color: #032d60;
// }

// .card .desc {
//   padding: 0.5rem 1rem;
//   font-size: 12px;
// }
// .card .actions {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   align-items: center;
//   padding: 0.5rem 1rem;
// }
// .card img {
//   width: 80px;
//   height: 80px;
//   margin: 0 auto;
//   border-radius: 50%;
//   transition: all 0.2s ease-in-out;
// }
// .card img:hover {
//   transform: scale(1.1);
// }

// .img-avatar {
//   width: 80px;
//   height: 80px;
//   position: absolute;
//   border-radius: 50%;
//   border: 6px solid white;
//   top: 15px;
//   left: 85px;
// }

// .card-text {
//   display: grid;
//   grid-template-columns: 1fr 2fr;
// }

// .title-total {
//   padding: 2.5em 1.5em 1.5em 1.5em;
// }

// .portada {
//   width: 100%;
//   height: 100%;
//   border-top-left-radius: 20px;
//   border-bottom-left-radius: 20px;
//   background-image: url("https://cutt.ly/MkvSQjn");
//   background-position: bottom center;
//   background-size: cover;
//   transition: transform 500ms;
// }
// .portada:hover {
//   transform: translateX(-35%);
// }

// button {
//   border: none;
//   background: none;
//   font-size: 24px;
//   color: #032d60;
//   cursor: pointer;
//   transition: 0.5s;
//   &:hover {
//     color: #60f2fc;
//     transform: rotate(22deg);
//   }
// }

/* PROFILE CARD */

// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
// }

// html {
//   height: 100%;
//   font-family: sans-serif;
//   box-sizing: border-box;
//   font-size: 14px;
// }

// $font-color: #404040;
// $db-size: 8rem;
// $padding-size: 2rem;
// $opener-size: 2.5rem;
// $dot-size: 0.4rem;

// body {
//   font-size: 16px;
//   color: $font-color;
//   font-family: Montserrat, sans-serif;
//   background-position: center;
//   background-attachment: fixed;
//   margin: 0;
//   padding: $padding-size 0;
//   display: grid;
//   place-items: center;
//   box-sizing: border-box;
// }

// .card {
//   background-color: #fff;
//   max-width: 360px;
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
//   border-radius: 2rem;
//   box-shadow: 0px 1rem 1.5rem
//   rgba($color: #000000, $alpha: 0.5);
// }

// .banner {
//   background-image: url(https://cutt.ly/Alo84kX);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 11rem;
//   display: flex;
//   align-items: flex-end;
//   justify-content: center;
//   box-sizing: border-box;
//   img {
//     background-color: white;
//     width: $db-size;
//     height: $db-size;
//     box-shadow: 0 0.5rem 1rem
//     rgba($color: black, $alpha: 0.3);
//     border-radius: 50%;
//     transform: translateY(50%);
//     transition: transform 200ms
//     cubic-bezier(0.18, 0.89, 0.32, 1.28);
//     &:hover {
//       transform: translateY(50%) scale(1.3);
//     }
//   }
// }

// .menu {
//   width: 100%;
//   height: 5.5rem;
//   padding: 1rem;
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-end;
//   position: relative;
//   box-sizing: border-box;
// }
// .opener {
//   width: $opener-size;
//   height: $opener-size;
//   position: relative;
//   border-radius: 50%;
//   transition: background-color 100ms ease-in-out;
//   &:hover {
//     background-color: #f2f2f2;
//   }
//   span {
//     background-color: $font-color;
//     width: $dot-size;
//     height: $dot-size;
//     position: absolute;
//     top: 0;
//     left: calc(50% - 0.2rem);
//     border-radius: 50%;
//     &:nth-child(1) {
//       top: 0.45rem;
//     }
//     &:nth-child(2) {
//       top: 1.05rem;
//     }
//     &:nth-child(3) {
//       top: 1.65rem;
//     }
//   }
// }
// .name {
//   text-align: center;
//   padding: 0 $padding-size 0.5rem;
//   margin: 0;
// }
// .title {
//   color: lighten($color: $font-color, $amount: 50%);
//   font-size: 0.85rem;
//   text-align: center;
//   padding: 0 $padding-size 1.2rem;
// }
// .actions {
//   padding: 0 $padding-size 1.2rem;
//   display: flex;
//   flex-direction: column;
//   order: 99;
//   .follow-info {
//     padding: 0 0 1rem;
//     display: flex;
//     & h2 {
//       text-align: center;
//       width: 50%;
//       margin: 0;
//       box-sizing: border-box;
//       & a {
//         text-decoration: none;
//         padding: 0.8rem;
//         display: flex;
//         flex-direction: column;
//         border-radius: 0.8rem;
//         transition: background-color
//          100ms ease-in-out;
//       }
//       & span {
//         color: #1c9eff;
//         font-weight: bold;
//         transform-origin: bottom;
//         transform: scaleY(1.3);
//         transition: color 100ms ease-in-out;
//       }
//       & small {
//         color: #afafaf;
//         font-size: 0.85rem;
//         font-weight: normal;
//       }
//       &:hover {
//         background-color: #f2f2f2;
//         border-radius: 15%;
//         & span {
//           color: #007ad6;
//         }
//       }
//     }
//   }
// }
// .follow-btn button {
//   color: inherit;
//   font: inherit;
//   font-weight: bold;
//   background-color: #ffd01a;
//   width: 100%;
//   border: none;
//   padding: 1rem;
//   outline: none;
//   box-sizing: border-box;
//   border-radius: 1.5rem / 50%;
//   transition: background-color 100ms ease-in-out;
//   transform: 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
//   &:hover {
//     background-color: #efb10a;
//     transform: scale(1.1);
//   }
//   &:active {
//     background-color: #e8a200;
//     transform: scale(1);
//   }
// }

// .desc {
//   text-align: center;
//   padding: 0 $padding-size 2.5rem;
//   order: 100;
// }

/* Card Example */

// .cards-list {
//   z-index: 0;
//   width: 100%;
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

// .card {
//   margin: 30px auto;
//   width: 300px;
//   height: 300px;
//   border-radius: 40px;
// box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
//   cursor: pointer;
//   transition: 0.4s;
// }

// .card .card_image {
//   width: inherit;
//   height: inherit;
//   border-radius: 40px;
// }

// .card .card_image img {
//   width: inherit;
//   height: inherit;
//   border-radius: 40px;
//   object-fit: cover;
// }

// .card .card_title {
//   text-align: center;
//   border-radius: 0px 0px 40px 40px;
//   font-family: sans-serif;
//   font-weight: bold;
//   font-size: 30px;
//   margin-top: -80px;
//   height: 40px;
// }
// .card:hover {
//   transform: scale(0.9, 0.9);
//   box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
//     -5px -5px 30px 15px rgba(0,0,0,0.22);
// }

// .title-white {
//   color: white;
// }

// .title-black {
//   color: black;
// }

// @media all and (max-width: 500px) {
//     .card-list {
//     /* On small screens, we are no longer using row direction but column */
//     flex-direction: column;
//   }
// }

/* ASSETS CARD */

// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
// }

// html {
//   box-sizing: border-box;
//   font-size: 62.5%;
// }
/* Varibles Globales */
// 

// Image Text Only Animation

@import url('https://fonts.googleapis.com/css?family=Lato:300,900');

$transition-ease-in-out: all .25s ease-in-out 0s;
$transition-cubic-bezier : all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
$animation-offset: 80px;

*, :after, :before {
  box-sizing: border-box;
}
html, body {
height: 100%;
}
body {
font-family: "Lato", sans-serif;
background: #eee;
padding: 100px 60px;
animation: fade-in 3s ease-in-out forwards;
}
strong {
font-weight: 900;
}
.canvas-wrapper {
display: flex;
align-items: center;
justify-content: center;
height: 100%;

.canvas + .canvas {
  margin-left: 40px;
}
}
.canvas {
position: relative;
display: block;
width: 400px;
height: 400px;
padding: 20px;
color: inherit;
text-decoration: none;
}


.canvas_img-wrapper {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
top: 0;
left: 0;
transform: rotate(-10deg) skew(-10deg);
overflow: hidden;
background: white;
}
.canvas_img {
transform: scale3d(.9,.9,.9);
opacity: .3;
max-width: 200px;
max-height: 200px;
}
.canvas_copy {
position: absolute;
bottom: 0;
left: 85%;
text-transform: uppercase;
color: #ff198c;
z-index: 100;
}
.canvas_copy--left {
left: -25%;
}
.canvas_copy_title {
font-size: 62px;
display: block;
transform: translateX(-#{$animation-offset});
  transition: $transition-cubic-bezier 0s;
  color: black;

  &:nth-child(1) {
    transition-delay: 0.1s;
    }
  &:nth-child(2) {
    transition-delay: 0.2s;
    }
}
.canvas_copy_subtitle {
display: block;
transform: rotate(270deg) translateY(-100%) translateX(calc(-100% - #{$animation-offset}));
transform-origin: top left;
position: absolute;
left: 0;
top: 8px; //This needs to change with font size. It's an offset for the line-height of the "hellow world"
font-size: 24px;
font-weight: 900;
transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.35s;
}
.canvas_copy_details {
display: block;
transition: $transition-cubic-bezier 0.14s;
transform: translateX(-#{$animation-offset});
  }
.canvas_border, .canvas_img-wrapper, .canvas_img  {
transition: $transition-ease-in-out;	
}
.canvas_border, .canvas_img-wrapper {
transform: rotate(-10deg) skew(-10deg);	
}
.canvas_copy_title, .canvas_copy_subtitle, .canvas_copy_details {
opacity: 0;
}
.canvas:hover {
.canvas_copy_title, .canvas_copy_subtitle, .canvas_copy_details, .canvas_img {
  opacity: 1;
}
.canvas_border, .canvas_img-wrapper {
  transform: rotate(-14deg) skew(-14deg) scale(0.96);
}
.canvas_img {
  transform: scale3d(1,1,1);
}
.canvas_copy_title, .canvas_copy_details {
  transform: translateX(0);
}
.canvas_copy_subtitle {
  transform: rotate(270deg) translateY(-100%) translateX(-100%);
}
.rect-gradient {
  animation: draw-line 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
}

@keyframes draw-line {
from {
  stroke-dashoffset: 2000;		
}
to {
  stroke-dashoffset: 0;
}
}
@keyframes erase-line {
from {
  stroke-dashoffset: 0;
}
to {
  stroke-dashoffset: 2000;		
}
}
@keyframes fade-in {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}